/*  your css code here. If applicable */

 .one > img{
    
    height: 200px;
    width: 200px;
    
}
.two > img{
    
    height: 200px;
    width: 200px;
    
}
.three> img{
    
    height: 200px;
    width: 200px;
    
}